<h1>Stupid Coaching</h1>

<blockquote><%= params[:question] %>
  <br>
  - You
</blockquote>

<blockquote class="coach-reply"><strong><%= @answer %></strong>
  <br>
  - Your coach
</blockquote>

<%= link_to 'Ask a new question', :ask %>
